## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Windows App SDK / MSIX
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.msix
*.msixbundle
*.appxbundle

## Logs
*.log
msbuild.binlog
